@media only screen and (min-width: 768px) {
    *{
        margin: 0;
    }
    

@font-face {
    font-family: 'robotoregular';
    src: url('../fontes/roboto-regular-webfont.woff2') format('woff2'),
         url('../fontes/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

    @font-face {
    font-family: 'exo_2black';
    src: url('../fontes/exo2-black-webfont.woff2') format('woff2'),
         url('../fontes/exo2-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
    }

    @font-face {
        font-family: 'robotoregular';
        src: url('../fontes/roboto-regular-webfont.woff2') format('woff2'),
             url('../fontes/roboto-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      
      }
    @font-face {
    font-family: 'exo_2light';
    src: url('../fontes/exo2-light-webfont.woff2') format('woff2'),
         url('../fontes/exo2-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }  
        /* For desktop: */
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
      
      
        .row-1 {width: 100%; display: flex;flex-direction: row;}

        .principal{
            width: 1349px;
            margin: auto;
        }
        .inicio{
            background-color: #2093D6;
        }
        .home{
            list-style-type: none;
            overflow: hidden;
        }
        ul{
            overflow: hidden;
            list-style-type: none;
          }
        .home li {
            float: left;
            font-family: 'robotoregular';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 23px;
            display: block;
            text-align: center;
            margin-left: 105px;
            margin-top: 28px;
          }
        .home li a {
            text-decoration: none;
            color: #F2EDED;
        }
        .home li a:hover{
          color:   #DFDD26;
        }
    .logo{
        margin-left: 65px;
        margin-top: 12px;
    }
    .barra{
        background-color: #00578A ; 
    }
    .barra li{
        float: left;
        font-family: 'robotoregular';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        display: block;
        text-align: center;
        margin-bottom: 4px;
        margin-top: 18px;
    }
    .barra li a{
        text-decoration: none;
        color: #F2EDED;
    }
    .barra li a:hover{
        color:   #DFDD26;
    }
    .cor-menu{
        background-color: #2093D6
    }
    .cor-menu2{
        background-color: #00578A
    }
    #links5{
        margin-left: 150px;
        margin-right: -166px;
    }
    #links4{
        margin-left: 161px;
        margin-right: -149px;
    }
    #links3{
        margin-left: 92px;
    }
    #links2{
        margin-left: 65px;
    }
    #links1{
        margin-left: 27px;
    }
    #pesquisa1{
        margin-left: 71px;
    }
    #pesquisa2{
        margin-left: 28px;
    }
    #pesquisa3{
        margin-left: 31px;
    }
    .barra-pesquisa{
        margin-left: 793px;
        margin-top: 23px;
    }
    #pesquisar{
        background: #C4C4C4;
        background-image: url(../img/search.png);
        border-radius: 30px;
        border-style: none;
        width: 190px;
        height: 34px;
        background-size: 28px;
        background-repeat: no-repeat;
        background-position: right;
        outline: 0;
    }
    ::placeholder {
        color: black;
        margin-left: 30px;
       }
    .main-photo{
        background-image: url(../img/business-people-handshake-on-city1.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .heading{
        font-family: 'exo_2light';
        font-weight: bold;
        font-size: 72px;
        margin-top: 140px;
        margin-left: 320px;
        line-height: 86px;
        margin-bottom: -15px;
        color: #fff;
        text-shadow: 1px 0 0 black, 1px 0 0 black, 0 1px 0 black, 0 1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    }
    .heading-denuncia{
        margin-left: 403px;
        margin-bottom: 32px;
    }
    .laneInput{
        display: grid;
    }
    .inlaneInput{
        display: inline;
        margin-top: 32px;
    }
    .card{
        background-color: #fff;
        margin-top: 150px;
        border-radius: 5px;
        margin-left: 120px;
    }
    #razao_social{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 1182px;
        height: 34px;
    }
    #cadastro-informacoes{
        font-family: 'exo_2light';
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #00578A;
        margin-bottom: 32px;
        margin-top: 32px;
    }
    #cnpj{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 476px;
        height: 34px;
        font-family: 'exo_2light';
        color: #000000 ;
    }
    ::placeholder{
        color: #363636;
    }
    #endereco{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 1182px;
        height: 34px;
    }
    #cidade{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 573px;
        height: 34px;
        margin-top: 32px;
    }
    #bairro{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 492px;
        height: 34px;
        margin-top: 32px;
    }
    #estado{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 215px;
        height: 34px;
        margin-top: 32px;
    }
    #cep{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 215px;
        height: 34px;
        margin-top: 32px;
    }
    #telefone1{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 287px;
        height: 34px;
        margin-top: 32px;
    }
    #telefone2{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 287px;
        height: 34px;
        margin-top: 32px;
    }
    #email{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 726px;
        height: 34px;
    }
    #inscricao_estadual{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 422px;
        height: 34px;
    }
    #cadastro-informacoes-bairro{
        font-family: 'exo_2light';
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #00578A;
    margin-bottom: 32px;
    margin-top: 32px;
    margin-left: 91px;
    }
    .bairro{
        margin-left: -93px;
    }
    #arquivo{
        background-image: url(../img/clip_1.png);
        height: 36px;
        width: 36px;
        border-style: none;
    }
    .arquivo1{
        margin-top: 32px;
    }
    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        cursor: pointer;
    }
    #botao-cadastro{
        background-color: #DFDD26;
        border-style: none;
        color: #000;
        margin-top: 18px;
        border-radius: 5px;
        width: 300px;
        height: 34px;
        cursor: pointer;
        margin-bottom: 92px;
    }
    #botao-cadastro:hover{
        background-color: #5a5904;
    }
    .imgpri{
       width: 100%;
       height: 455px;
       opacity: 100%;
       background-image: url('../img/power-lines-in-field-on-sunrise-background1.png');
}

#pImgpri{
    width: 576px;
    height: 174px;
    margin-top: 46px;
    margin-left: 95px;
    font-family: 'exo_2black';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

#button{
    flex-direction: row;
    padding: 10px 15px;
    width: 144px;
    height: 34px;
    right: 1206px;
    margin-top: 124px;
    margin-left: 95px;
    border: none;
    background: #DFDD26;
    border-radius: 30px;
    float: left;
    text-align: left;
}

.fiquePorDentro{   
    height: 40px;
    margin-top: 66px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}

.FPD{
    width: 242.18px;
    height: 339.4px;
    margin-left: 95px;
    margin-top: 185px;
    background: #DFDD26;
    border-radius: 30px;
}

.pFPD{
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    display: inline-block;
    color: #000000;
    width: 200px;
    text-align: left;
    margin-left: 20px;
    margin-top: 45px;
    text-decoration: none;
}
.imgsec{
  
    width: 100%;
    margin-top: 105px;
    opacity: 100%;
    background-image: url('../img/power-lines-in-field-on-sunrise-background3.png');
    }
.imgLaranja{
    background-image: url('../img/display-laranja1.png');
    width: 1350px;
    height: 285px;
    left: -5px;
    top: 1275px;
}
.aconel{
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
    margin-top: 145px;
    margin-left: 81px;
}

.imgter{
    width: 100%;
    margin-top: 105px;
    opacity: 100%;
    background-image: url('../img/hands-joined-by-the-team1.png');
    }
.imgverde{
    background-image: url('../img/display-verde1.png');
    width: 1350px;
    height: 285px;
    left: -5px;
    top: 1275px;
}
.final{
    background-color: #2093D6;
    width: 1460px;
height: 482px;
left: 1px;
top: 2771px;

}
.cor-final{
    background-color: #2093D6;
    margin-top: 92px;
}







/* 
NOSSA POLÍTICA */


.NPimg{
    width: 100%;
    height: 285px;
    opacity: 100%;
    background-image: url('../img/hands-joined-by-the-team1.png');
    }

    #p_NPimg{
        width: 615px;
        height: 174px;
        margin-top: 86px;
        margin-left: 80px;
        font-family: 'exo_2black';
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: #00578A;
    }


.NPimg2{
    width: 1195px;
    height: 386px;
    margin-top: 112px;
    margin-left: 80px;
}
.NPbarra{
    width: 1200px;
    height: 177px;
    margin-top: 80px;
    margin-left: 80px;
    background: #00578A;
    border-radius: 50px 0px;
}

.NPspan1{
    width: 211px;
    height: 51px;
    display: inline-block;
    background: #DFDD26;
    border-radius: 50px 0px;
}
#NPspan1{

    display: inline-block;
    margin-left: 22px;
    margin-top: 12px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #000000;

}
.NPspan2{
    width: 821px;
    height: 51px;
    display: inline-block;
    background: #DFDD26;
    border-radius: 50px 0px;
}
#NPspan2{

    display: inline-block;
    margin-left: 22px;
    margin-top: 12px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #000000;

}
.NPp1{
   
    margin-left: 22px;
    margin-top: 12px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
}

/* O QUE FAZEMOS */
.oqf {
    width: 100%;
    height: 295px;
    opacity: 100%;
    background-image: url(../img/asian-businessmen-and-businesswomen-meeting-brainstorming-ideas-about-creative-web-design-planning-application-and-developing-template-layout-for-mobile-phone-project-working-together-in-small-office1.png);
}
#POQFpimg {
    width: 676px;
    height: 86px;
    margin-top: 86px;
    margin-left: 95px;
    font-family: 'exo_2black';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 86px;
    color: #FFFFFF;
}
.OQFimg{
    width: 100%;
    height: 386px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 105px;
    opacity: 100%;
    background-image: url('../img/SITE1280X3861.png');
    }
.OQFbloco{
    width: 1225px;
    height: 1488px;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 105px;
    background: #00578A;
    border-radius: 30px;
}
#OQFtexto{
    width: 1000px;
    height: 120px;
    margin-left: 100px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;

}
#OQFtexto2{
    width: 1156px;
    height: 904px;
    margin-left: 62px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;

}
#OQFspan{
   
    display: inline-block;
    margin-left: 100px;
    margin-top: 60px;
    font-family: 'exo_2light';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 86px;
    color: #FFFFFF;
}
#OQFspan3{
    display: inline-block;
    margin-left: 100px;
    font-family: 'exo_2light';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 86px;
    color: #FFFFFF;
}
#OQFspan2{
   
    display: inline-block;
    margin-left: 100px;
    margin-top: 60px;
    font-family: 'exo_2light';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 86px;
    color: #FFFFFF;
}
.side-bar ul{
    overflow: hidden;
    list-style-type: none;
}
.side-bar li{
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    display: block;
    text-align: center;
    margin-bottom: 4px;
    margin-top: 18px;
}
.side-bar li a{
    text-decoration: none;
    color: #F2EDED;
}
.side-bar li a:hover{
    color: #DFDD26;
}
.side-bar{
    margin-top: 74px;
}


/* FIQUE POR DENTRO */

.PFPDimg{
    width: 100%;
    height: 295px;
    opacity: 100%;
    background-image: url('../img/icon-internet-world-in-the-hands-of-a-businessman-network-technology-and-communication1.png');
}
#PFPDpimg{
    
    width: 676px;
    height: 86px;
    margin-top: 86px;
    margin-left: 95px;
    font-family: 'exo_2black';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 86px;
    color: #FFFFFF;

}

.O-QUE-É-O-PROGRAMA-LUZ-PARA-TODOS{
    width: 522px;
    height: 33px;
    margin-left: 91px;
    margin-top: 162px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 27.6px;
    line-height: 120%;
    color: #000000;
}
.O-QUE-É-O-PROGRAMA-LUZ-PARA-TODOS-fundo{
    width: 1206px;
    height: 316px;
    margin-left: 80px;
    margin-top: 17px;
    background: #f3960b59;
    
    border-radius: 30px;
  
}
.O-QUE-É-O-PROGRAMA-LUZ-PARA-TODOS-img{
    width: 665px;
height: 316px;
border-radius: 30px;
background-image: url('../img/45273_luzparatodos2.png');
}



#O-QUE-É-O-PROGRAMA-LUZ-PARA-TODOS-button{
    flex-direction: row;
    padding: 10px 15px;
    width: 106px;
    height: 34px;
    margin-top: 270px;
    margin-right: 36px;
    border: none;
    background: #787070;
    border-radius: 30px;
    text-align: center;
    float: right;
}

.COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS{
  
    height: 33px;
    margin-left: 91px;
    margin-top: 198px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 27.6px;
    line-height: 120%;
    color: #000000;
}
.COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-fundo{
    width: 1206px;
    height: 316px;
    margin-left: 80px;
    margin-top: 17px;
    margin-left: 72px;
    background: #2093d64d;
    border-radius: 30px;
}
.COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-img{
    width: 665px;
height: 316px;
border-radius: 30px;
background-image: url('../img/338032.png');
}
#COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-button{
    padding: 10px 15px;
    width: 106px;
    height: 34px;
    margin-top: 272px;
    margin-left: 40px;
    border: none;
    background: #787070;
    border-radius: 30px;
    text-align: center;
    float: left;
}


.A-INVEÇÃO-DA-LÂMPADA-ELÉTRICA-INCANDESCENTE{
    height: 33px;
    margin-left: 91px;
    margin-top: 198px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 27.6px;
    line-height: 120%;
    color: #000000;
}
.A-INVEÇÃO-DA-LÂMPADA-ELÉTRICA-INCANDESCENTE-fundo{
    width: 1206px;
    height: 316px;
    margin-left: 80px;
    margin-top: 17px;
    margin-bottom: 100px;
    background: #15cf1152;
    border-radius: 30px;
}
.A-INVEÇÃO-DA-LÂMPADA-ELÉTRICA-INCANDESCENTE-img{
    width: 665px;
height: 316px;
border-radius: 30px;
background-image: url('../img/light-bulb-lit-between-many-lightsIMGGRANDE.png');
}




/* RELAÇÕES COM FORNECEDORES */

.RELAÇÕES-COM-FORNECEDORES{
    width: 100%;
    height: 295px;
    opacity: 100%;
    background-image: url('../img/businessman-hand-holding-wooden-building-blocks1.png');
}

#RELAÇÕES-COM-FORNECEDORES-span{
    height: 174px;
    display: inline-block;
    margin-top: 93px;
    margin-left: 75px;
    font-family: 'exo_2light';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 86px;
    color: #FFFFFF;
}
.RELAÇÕES-COM-FORNECEDORES-img{
    width: 100%;
    height: 380px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 203px;
    background-image: url('../img/multiracial-business-handshake-as-concept-of-help-support-in-teamwork1.png');
    }

 .RELAÇÕES-COM-FORNECEDORES-bloco{
    width: 1225px;
    height: 433px;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 141px;
    margin-bottom: 722px;
    background: #00578A;
    border-radius: 30px;
    }
 #RELAÇÕES-COM-FORNECEDORES-texto{
    width: 1000px;
    height: 120px;
    margin-left: 100px;
    margin-top: 60px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    
    }



    /* COMO A ENERGIA ELÉTRICA CHEGA EM NOSSAS CASAS */



.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-img{

    width: 100%;
    height: 380px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 99px;
    background-image: url('../img/3380331.png');
}
.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-barra{
    width: 980px;
    height: 142px;
    margin-left: 70px;
    margin-top: 107px;
    background: #DFDD26;
    border-radius: 50px;
}
#SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-texto{
    width: 887px;
    height: 106px;
    margin-top: 20px;
    margin-left: 50px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 110%;
    color: #000000;
}
.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-barra2{
    width: 1200px;
    height: 360px;
    background: #00578A;
    border-radius: 50px;
    margin-left: 72px;
    margin-top: 87px;
      
}
#SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-texto2{
    width: 1165px;
    height: 146px;
    margin-left: 40px;
    margin-top: 24px;
    margin-bottom: 20px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 28.8px;
    line-height: 100%;
  color: #ffffffe6; 
}
.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-barra3{
    width: 1200px;
height: 188px;
margin-left: 76px;
margin-top: 116px;
background: #00578A;
border-radius: 50px 0px;
}
.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-barra-do-span{
    width: 323px;
    height: 54px;
    background: #DFDD26;
    border-radius: 50px 0px;
}
#SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-barra-span{
    width: 230px;
    height: 40px;
    margin-left: 46px;
    margin-top: 11px;
    display: inline-block;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 110%;
    color: #000000;
}
#SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-texto3{
    width: 1141px;
    height: 146px;
    margin-left: 40px;
    margin-top: 24px;
    margin-bottom: 20px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 28.8px;
    line-height: 100%;
    color: #ffffffe6;

}
.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-barra4{
    width: 1200px;
    height: 261px;
    margin-left: 70px;
    margin-top: 107px;
    background: #DFDD26;
    border-radius: 50px;
}
#SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-texto4{
    width: 1205px;
    height: 89px;
    margin-top: 52px;
    margin-left: 22px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 125%;
    color: #000000;
}


.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-estacao-geradora-bola{
    width: 93px;
height: 93px;
margin-top: 136px;
margin-left: 70px;
margin-right: -80px;
background: #f3960bba;
border-radius: 50%;
}
.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-estacao-geradora{
    width: 283px;
    height: 40px;
    display: inline-block;
    margin-top: 162px;
    margin-left: 120px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 110%; 
    color: #000000;
}
.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-estacao-geradora-barra{
    width: 656px;
    height: 257px;
    margin-top: 60px;
    margin-left: 78px;
    background: #f3960bba;
    border-radius: 50px;
}
#SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-estacao-geradora-texto{
    width: 612px;
    height: 96px;
    margin-left: 26px;
    margin-top: 32px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 120%;
    color: #000000;
}




.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-linhas-de-transmissao-bola{
    width: 93px;
height: 93px;
margin-top: 136px;
margin-left: 70px;
margin-right: -80px;
background:#15cf11b8;
border-radius: 50%;
}
.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-linhas-de-transmissao{
    width: 283px;
    height: 40px;
    display: inline-block;
    margin-top: 162px;
    margin-left: 120px;

    font-family: 'robotoregular';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 110%; 
    color: #000000;
}
.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-linhas-de-transmissao-barra{
    width: 656px;
height: 257px;
margin-top: 60px;
margin-left: 78px;
background:#15cf11b8;
border-radius: 50px;
}
#SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-linhas-de-transmissao-texto{
    width: 612px;
    margin-left: 35px;
    margin-top: 60px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 120%;
    color: #000000;
}
#SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-linhas-de-transmissao-texto2{
    width: 612px;
    margin-left: 35px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 120%;
    color: #000000;
}



.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-subestacao-de-transmissao-bola{
    width: 93px;
height: 93px;
margin-top: 136px;
margin-right: -44px;
    margin-left: 65px;
    background: #2093d6bf;
border-radius: 50%;
}
.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-subestacao-de-transmissao{
    width: 447px;
    height: 40px;
    display: inline-block;
    margin-top: 162px;
    margin-left: 60px;

    font-family: 'robotoregular';
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 110%; 
    color: #000000;
}

.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-subestacao-de-transmissao-barra{
    width: 656px;
height: 257px;
margin-top: 60px;
margin-left: 50px;
background: #2093d6bf;
border-radius: 50px;
}
#SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-subestacao-de-transmissao-texto{
    width: 612px;
    height: 96px;
    margin-left: 26px;
    margin-top: 40px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 120%;
    color: #000000;
}






.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-subestacoes-de-distribuicao-bola{
    width: 93px;
height: 93px;
margin-top: 136px;
margin-right: -44px;
margin-left: 65px;
background: #DFDD26;
opacity: 0.7;
border-radius: 50%;
}
.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-subestacoes-de-distribuicao{
    width: 447px;
    height: 40px;
    display: inline-block;
    margin-top: 162px;
    margin-left: 60px;


    font-family: 'robotoregular';
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 110%; 
    color: #000000;
}
.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-subestacoes-de-distribuicao-barra{
    width: 656px;
height: 257px;
margin-top: 60px;
margin-left: 50px;
background: #DFDD26;

border-radius: 50px;
}
#SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-subestacoes-de-distribuicao-texto{
    width: 478px;
    margin-left: 35px;
    margin-top: 45px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 120%;
    color: #000000;
}
#SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-subestacoes-de-distribuicao-texto2{
    width: 610px;
    margin-left: 35px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 120%;
    color: #000000;
}







.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-fiacao-dos-postes-bola{
    width: 93px;
height: 93px;
margin-top: 136px;
margin-left: 70px;
margin-right: -80px;
background: #262424a8;
border-radius: 50%;
}
.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-fiacao-dos-postes{

    height: 40px;
    display: inline-block;
    margin-top: 162px;
    margin-left: 120px;

    font-family: 'robotoregular';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 110%; 
    color: #000000;
}
.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-fiacao-dos-postes-barra{
    width: 656px;
height: 257px;
margin-top: 60px;
margin-left: 78px;
background: #262424a8;
border-radius: 50px;
}
#SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-fiacao-dos-postes-texto{
    width: 612px;
    height: 96px;
    margin-left: 26px;
    margin-top: 65px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 120%;
    color: #FFFFFF;
}








.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-consumidor-final-bola{
    width: 93px;
height: 93px;
margin-top: 136px;
margin-left: 70px;
margin-right: -80px;
background: #00578ab0;
border-radius: 50%;
}
.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-consumidor-final{

    height: 40px;
    display: inline-block;
    margin-top: 162px;
    margin-left: 120px;

    font-family: 'robotoregular';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 110%; 
    color: #000000;
}
.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-consumidor-final-barra{
    width: 656px;
height: 257px;
margin-top: 60px;
margin-left: 78px;
background: #00578ab0;
border-radius: 50px;
}
#SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-consumidor-final-texto{
    width: 620px;
    margin-left: 35px;
    margin-top: 50px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 120%;
    color: #000000;
}
#SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-consumidor-final-texto2{
    width: 610px;
    margin-left: 35px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 120%;
    color: #000000;
}



.SEGUNDO-SITE-COMO-A-ENERGIA-ELÉTRICA-CHEGA-EM-NOSSAS-CASAS-ultimaimg{

    width: 1266px;
    height: 780px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 203px;
    background-image: url('../img/FWWEWW1.png');
}





/*SEGURANÇA DE TRABALHO*/


.seguranca-de-trabalho{
    width: 100%;
    height: 295px;
    opacity: 100%;
    background-image: url(../img/SemTítulo-11.png);

}
#seguranca-de-trabalho-span {
    height: 174px;
    display: inline-block;
    margin-top: 93px;
    margin-left: 75px;
    font-family: 'exo_2black';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 86px;
    color: #FFFFFF;
}

.seguranca-de-trabalho-img {
    width: 100%;
    height: 380px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 203px;
    background-image: url(../img/site1080x4001.png);
}
.seguranca-de-trabalho-barra {
    width: 1200px;
    height: 821px;
    margin-top: 184px;
    margin-left: 80px;
    margin-bottom: 643px;
    background: #00578A;
    border-radius: 50px 0px;
}
.seguranca-de-trabalho-barra-span {
    width: 360px;
    height: 51px;
    display: inline-block;
    background: #DFDD26;
    border-radius: 50px 0px;
}
#seguranca-de-trabalho-span2 {
    display: inline-block;
    margin-left: 22px;
    margin-top: 12px;
    font-family: 'exo_2light';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
}
#seguranca-de-trabalho-barra-p1 {
    width: 975px;
    margin-left: 100px;
    margin-top: 22px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 43px;
    color: #FFFFFF;
}

.seguranca-de-trabalho-barra-p {
    width: 950px;
    margin-left: 100px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 43px;
    color: #FFFFFF;
}

/*REDES DE DISTRIBUIÇÃO*/


.redes-de-distribuicao{
    width: 100%;
    height: 295px;
    opacity: 100%;
    background-image: url(../img/seguranca_de_trabalho.png);

}

.redes-de-distribuicao-barra {
    width: 1200px;
    height: 645px;
    margin-top: 184px;
    margin-left: 80px;
    margin-bottom: 292px;
    background: #00578A;
    border-radius: 50px 0px;
}
.redes-de-distribuicao-span {
    width: 360px;
    height: 51px;
    display: inline-block;
    background: #DFDD26;
    border-radius: 50px 0px;
}
#redes-de-distribuicao-span2 {
    display: inline-block;
    margin-left: 22px;
    margin-top: 12px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
}
#redes-de-distribuicao-p1 {
    width: 1153px;
    margin-left: 32px;
    margin-top: 80px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 43px;
    color: #FFFFFF;

}

.redes-de-distribuicao-p {
    width: 1172px;
    margin-left: 30px;
    margin-top: 40px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 43px;
    color: #FFFFFF;

}
.redes-de-distribuicao-ultimaimg{

    width: 855px;
    height: 905px;
    margin-left: 265px;
    margin-right: 70px;
    margin-bottom: 92px;
    margin-top: 150px;
    background-image: url(../img/rede_distribuicao_energia1.png);
}



/* GRUPOS DE INTERESSE*/

.grupos-de-interesses{
    width: 100%;
    height: 288px;
    opacity: 100%;
    background-image: url(../img/businessman-touching-the-tip-of-a-bar-chart1.png);

}

.grupos-de-interesses-barra {
    width: 1200px;
    height: 555px;
    margin-top: 84px;
    margin-left: 80px;
    margin-bottom: 20px;
    background: #00578A;
    border-radius: 50px 0px;
}
.grupos-de-interesses-span {
    width: 360px;
    height: 51px;
    display: inline-block;
    background: #DFDD26;
    border-radius: 50px 0px;
}
#grupos-de-interesses-span2 {
    display: inline-block;
    margin-left: 22px;
    margin-top: 12px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
}
#grupos-de-interesses-p1 {
    width: 1075px;
    margin-left: 60px;
    margin-top: 80px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 43px;
    color: #FFFFFF;
}
.grupos-de-interesses-ultimaimg{


    margin-left: 45px;
    margin-right: 70px;
    margin-bottom: 92px;
    margin-top: 20px;
}






/* PROGRAMA LUZ PARA TODOS*/
.programa-luz-para-todos-2-img{

    width: 100%;
    height: 380px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 99px;
    background-image: url('../img/Luz-Para-Todos-11.png');
}
.programa-luz-para-todos-2-barra{
    width: 980px;
    height: 142px;
    margin-left: 70px;
    margin-top: 107px;
    background: #DFDD26;
    border-radius: 50px;
}
#programa-luz-para-todos-2-textobarra{
    width: 887px;
    height: 106px;
    margin-top: 46px;
    margin-left: 50px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 110%;
    color: #000000;
}
.programa-luz-para-todos-2-bloco{
    width: 1225px;
    height: 2700px;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 105px;
    background: #00578A;
    border-radius: 30px;
}
#programa-luz-para-todos-2-texto{
    width: 1042px;
    height: 200px;
    margin-top: 90px;
    margin-left: 95px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;

}
#programa-luz-para-todos-2-texto2{
    width: 1042px;
    height: 355px;
    margin-left: 95px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
}

#programa-luz-para-todos-2-texto3{
    width: 1042px;
    height: 355px;
    margin-top: 90px;
    margin-left: 95px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
}
#programa-luz-para-todos-2-texto4{
    width: 1042px;
    margin-top: 10px;
    margin-left: 95px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
}


/* ADM SENHA*/




#logo {
    padding-top: 35px;
    margin-left: 104px;
}
.admin {
    margin-left: 500px;
    margin-top: 100px;
    margin-bottom: 150px;
}
.load {
    padding-top: 45px;
}
.load input {
    width: 312px;
    height: 48px;
    border: 1px solid #D5D7DC;
    box-sizing: border-box;
    border-radius: 6px;
    display: block;
    padding-left: 12px;
    outline: none;
    margin-top: 15px;
}
.esqueci {
    width: 135px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-left: 183px;
    padding-top: 10px;
}
.load button {
    width: 312px;
    height: 48px;
    background: #63AAEB;
    border-radius: 100px;
    color: #ffff;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}
.logo-adm-img {
    margin-left: -460px;
    width: 532px;
    height: 419px;
}

/* REDEFINIR SENHA*/
#redefinir-senha-font{
    font-family: 'exo_2light';
}
.lo input {
    width: 312px;
    height: 48px;
    border: 1px solid #D5D7DC;
    box-sizing: border-box;
    border-radius: 6px;
    display: block;
    padding-left: 12px;
    outline: none;
    margin-top: 15px;
}
.lo button {
    width: 312px;
    height: 48px;
    background: #63AAEB;
    border-radius: 100px;
    color: #ffff;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}
.redefinir-senha{
    margin-left: 600px;
    margin-top: 100px;
    margin-bottom: 150px;
}















    #cadastro-informacoes-bairro{
        font-family: 'exo_2light';
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #00578A;
    margin-bottom: 32px;
    margin-top: 32px;
    }
#links6{
    margin-left: -234px;
    margin-right: 220px;
}
#links7{
    margin-left: -179px;
    margin-right: 186px;
}
#links8{
    margin-left: -164px;
}
#links9{
    margin-left: -190px;
}
#links10{
    margin-left: -186px;
}
#links11{
    color: #F2EDED;
}
#links12{
    margin-left: -77px;
    margin-right: 13px;
}
#links13{
    margin-left: -40px;
}
#localizacao{
    color: #F2EDED;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    display: block;
    text-align: center;
    margin-bottom: 4px;
    margin-top: 69px;
    margin-left: 91px;
}
#cor-final{
    background-color: #2093D6;
    margin-top: 100px;
}
.foto-de-entrada{
    background-image: url(../img/businessman-hand-holding-smart-phone-with-icon-mobile-phone-mail-telephone-and-address-customer-service-call-center-contact-us-concept1.png);
    background-repeat: no-repeat;
    background-position: center;
}
#texto-2{
    font-family: 'exo_2light';
    font-weight: bold;
    font-size: 72px;
    margin-top: 89px;
    margin-left: 72px;
    line-height: 86px;
    margin-bottom: 121px;
    color: #fff;
    text-shadow: 1px 0 0 black, 1px 0 0 black, 0 1px 0 black, 0 1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}
.barra-azul{
    background: #00578A;
    border-radius: 50px;
    width: 285px;
    height: 74px;
    margin-left: 53px;
    margin-right: -62px;
    margin-top: 73px;

}
#texto-barra-azul{
    font-family: 'exo_2light';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    margin-left: 30px;
    color: #FFFFFF;
    margin-top: 13px;
    display: inline-block;
}
.barra-verde{
    background: #B8B616;
    margin-left: -224px;
    margin-top: 73px;
    z-index: -1;
    width: 559px;
    height: 159px;
    border-radius: 50px;
    margin-bottom: 300px;
}
#texto-barra-verde{
    font-family: 'exo_2light';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    margin-left: 30px;
    margin-top: 95px;
}
.foto-de-entrada-trabalhe{
    background-image: url(../img/close-up-photography-of-light-bulb1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.barrinha{
    background: #006EAF;
    border-radius: 30px;
    width: 331px;
    height: 52px;
    margin-top: 132px;
    margin-left: 154px;
    margin-bottom: 28px;
}
.texto-barrinha{
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 10px;
    display: inline-block;
    margin-left: 14px;
}
#conte_mais{
    font-family: 'robotoregular';
    font-size: 20px;
    width: 1139px;
    height: 641px;
    background: #F2EDED;
    border-style: none;
    margin-left: 159px;
    outline: 0;
}
.enviar{
    margin-left: 160px;
}
#botao-enviar-trabalhe{
    color: black;
    background-color: #DFDD26;
    border-style: none;
    margin-top: 33px;
    border-radius: 5px;
    width: 236px;
    height: 56px;
    cursor: pointer;
    margin-left: 312px;
    margin-bottom: 92px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
#botao-enviar-trabalhe:hover{
    background-color: #6e6d04;
}
.foto-de-entrada-denuncia{
    background-image: url(../img/business-people-fill-resume-application-information-desk-presents-ability-company-agree-with-position-job1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.barrinha-verde{
    background: #DFDD26;
    border-radius: 30px;
    width: 236px;
    height: 56px;
    margin-top: 108px;
    margin-left: 154px;
    margin-bottom: 28px;
}
.preta{
    color: black;
    margin-left: 38px;
}
.explicacao-denuncia{
    background-color: #00578A;
    width: 1105px;
    height: 196px;
    margin-left: 155px;
}
#texto-denuncia{
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-top: 44px;
    margin-left: 40px;
    margin-bottom: 55px;
    color: #FFFFFF;
    display: inline-block;
}
.como-funciona{
    color: black;
    margin-left: 38px;

}
.barrinha-verde-2{
    background: #DFDD26;
    border-radius: 30px;
    width: 531px;
    height: 56px;
    margin-top: 81px;
    margin-left: 154px;
    margin-bottom: 28px;
}
.bordas-imagens{
    width: 297px;
    height: 293px;
    background: #DFDD26;
    border-radius: 30px;
    margin-left: -224px;
    margin-top: 312px;
    z-index: -1;
}
.imagens-denuncia{
    margin-left: 152px;
    margin-top: 60px;
}
.imagens-denuncia:hover{
    transform: translateY(0) scale(1.2);
}
.detalhe{
    margin-left: 102px;
}
.detalhe1{
    margin-left: 58px;
}
.texto-bordas{
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-top: 125px;
    width: 286px;
}
.contato{
    background-color: #DFDD26;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    margin-left: 153px;
    display: inline-block;
}
.contato:hover{
    background-color: #777504;
}
.botao-contato{
    margin-top: 133px;
    margin-bottom: 45px;
}
.foto-de-entrada-trabalho{
    background-image: url(../img/capaa1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.texto-3{
    font-family: 'exo_2light';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    margin-top: 89px;
    margin-left: 72px;
    line-height: 86px;
    margin-bottom: 121px;
    color: #fff;
}
.bloco{
    background: #00578A;
    border-radius: 50px;
    width: 1280px;
    height: 1628px;
    margin-left: 33px;
}
.texto-bloco{
    font-family: 'exo_2light';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    color: #fff;
    width: 801px;
    margin-left: 55px;
    margin-top: 50px;
    display: inline-block;
}
.imagem{
    margin-left: 35px;
    margin-top: 112px;
    margin-bottom: 82px;
}
.LPT{
    background-image: url(../img/electric-pole-power-lines-and-wires-with-blue-sky1.png);
}
.apagar{
    opacity: 0;
}
.bloco-2{
    width: 1297px;
    height: 1689px;
    background: #00578A;
    border-radius: 50px;
    margin-left: 30px;
    margin-top: 135px;
}
.texto-bloco-2{
    font-family: 'exo_2light';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    width: 1146px;
    margin-left: 55px;
    margin-top: 50px;
    display: inline-block;
}

.content{
    margin-top: 15px;
}

table {
    border-collapse: collapse;
    border: 2px solid #00578A;
    width: 95%;
    margin-left: 70px;
}

table th{
    background-color: #DFDD26;
    font-family: 'exo_2light';
}

table th, td{
    padding: 1px, 5px;
    text-align: center;
    font-family: 'exo_2light';
}

table td img {
    width: 22px;
}
header{
    background-color: #2093D6 ;
    color: #fff;
    text-align: center;
    font-family: 'exo_2light';
}
.header-cadastro{
    background-color: #fff;
}

.center{
    text-align: center;
}
.principalmodal{
    background-color: rgba(160, 155, 153, 0.39);
    position: fixed;
    top: 0px;
    display: none;
    width: 36%;
    height: 107%;
}
.modal {
    margin-top: 20%;
    margin-left: 23%;
}
#id01{
    display: none;
}
#x{
    margin-left: -125px;
    width: 206px;
}

  .tooltip #tooltiptext {
    visibility: visible;
    width: 120px;
    background-color: #DFDD26;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0;
    z-index: 1;
  }
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    width: 95%;
    margin-left: 76px;
  }
  
  .active, .accordion:hover {
    background-color: #DFDD26;
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  #data_denuncia{
      display: none;
  }
  #data_curriculo{
    display: none;
  }
  #data_denun{
      font-family:  'exo_2light';
      margin-left: 5px;
  }
  #descricao_denuncia{
    font-family:  'exo_2light';
    margin-left: 67px;
  }
  #texto-denuncia-2{
    font-family:  'exo_2light';
    margin-left: 158px;
  }
  #denuncia_numero{
    font-family:  'exo_2light';
    margin-left: 16px;
  }
  #redes-sociais{
      width: 90px;
      z-index: -2;
      opacity: 1;
  }
  #redes-sociais-hover{
      width: 90px;
      margin-left: -90px;
      z-index: 2;
      cursor: pointer;
  }
  #redes-sociais-hover:hover{
      opacity: 0;
  }
  #redes-sociais:hover{
      opacity: 0;
  }
  .icon-1{
    width: 40px;
    cursor: pointer;
    margin-left: 556px;

  }
  .icon-2{
    width: 40px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .icon-3{
    cursor: pointer;
    width: 30px;
  }


.slideOutUp:hover {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
    -webkit-animation-duration: 5s;
    animation-duration: 1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideOutUp {
     0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
        100% {

        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
        }
        }
        @keyframes slideOutUp {
        0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
        100% {

        -webkit-transform: translateY(-20%);
        transform: translateY(-20%);
        }
        
    } 

}