@media only screen and (min-width: 768px) {
    *{
        margin: 0;
    }
    

@font-face {
    font-family: 'robotoregular';
    src: url('../fontes/roboto-regular-webfont.woff2') format('woff2'),
         url('../fontes/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

    @font-face {
    font-family: 'exo_2black';
    src: url('../fontes/exo2-black-webfont.woff2') format('woff2'),
         url('../fontes/exo2-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
    }

    @font-face {
        font-family: 'robotoregular';
        src: url('../fontes/roboto-regular-webfont.woff2') format('woff2'),
             url('../fontes/roboto-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      
      }
    @font-face {
    font-family: 'exo_2light';
    src: url('../fontes/exo2-light-webfont.woff2') format('woff2'),
         url('../fontes/exo2-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }  
        /* For desktop: */
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
      
      
        .row-1 {width: 100%; display: flex;flex-direction: row;}

        .principal{
            width: 1349px;
            margin: auto;
        }
        .inicio{
            background-color: #2093D6;
        }
        .home{
            list-style-type: none;
            overflow: hidden;
        }
        ul{
            overflow: hidden;
            list-style-type: none;
          }
        .home li {
            float: left;
            font-family: 'robotoregular';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 23px;
            display: block;
            text-align: center;
            margin-left: 105px;
            margin-top: 28px;
          }
        .home li a {
            text-decoration: none;
            color: #F2EDED;
        }
    .logo{
        margin-left: 65px;
        margin-top: 12px;
    }
    .barra{
        background-color: #00578A ; 
    }
    .barra li{
        float: left;
        font-family: 'robotoregular';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        display: block;
        text-align: center;
        margin-bottom: 4px;
        margin-top: 18px;
    }
    .barra li a{
        text-decoration: none;
        color: #F2EDED;
    }
    .cor-menu{
        background-color: #2093D6
    }
    .cor-menu2{
        background-color: #00578A
    }
    #links5{
        margin-left: 150px;
        margin-right: -166px;
    }
    #links4{
        margin-left: 161px;
        margin-right: -149px;
    }
    #links3{
        margin-left: 92px;
    }
    #links2{
        margin-left: 65px;
    }
    #links1{
        margin-left: 27px;
    }
    #pesquisa1{
        margin-left: 71px;
    }
    #pesquisa2{
        margin-left: 28px;
    }
    #pesquisa3{
        margin-left: 31px;
    }
    .barra-pesquisa{
        margin-left: 793px;
        margin-top: 23px;
    }
    #pesquisar{
        background: #C4C4C4;
        background-image: url(../img/search.png);
        border-radius: 30px;
        border-style: none;
        width: 190px;
        height: 34px;
        background-size: 28px;
        background-repeat: no-repeat;
        background-position: right;
        outline: 0;
    }
    ::placeholder {
        color: black;
        margin-left: 30px;
       }
    .maos{
        background-image: url(../img/business-people-handshake-on-city\1.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    #texto{
        font-family: 'exo_2light';
        font-weight: bold;
        font-size: 72px;
        margin-top: 62px;
        margin-left: 72px;
        line-height: 86px;
        margin-bottom: 62px;
        color: #fff;
        text-shadow: 1px 0 0 black, 1px 0 0 black, 0 1px 0 black, 0 1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;;
    }
    .laneInput{
        display: grid;
    }
    .inlaneInput{
        display: inline;
    }
    .card{
        background-color: #fff;
        margin-top: 150px;
        border-radius: 5px;
        margin-left: 120px;
    }
    #razao_social{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 1182px;
        height: 34px;
    }
    #cadastro-informacoes{
        font-family: 'exo_2light';
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #00578A;
        margin-bottom: 32px;
        margin-top: 32px;
    }
    #cnpj{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 476px;
        height: 34px;
    }
    #endereco{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 1182px;
        height: 34px;
    }
    #cidade{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 573px;
        height: 34px;
    }
    #bairro{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 492px;
        height: 34px;
    }
    #estado{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 215px;
        height: 34px;
    }
    #cep{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 215px;
        height: 34px;
    }
    #telefone1{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 287px;
        height: 34px;
    }
    #telefone2{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 287px;
        height: 34px;
    }
    #email{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 726px;
        height: 34px;
    }
    #inscricao_estadual{
        outline: 0;
        background: #C4C4C4;
        border-style: none;
        width: 422px;
        height: 34px;
    }
.imgpri{
width: 100%;
height: 455px;
opacity: 100%;
background-image: url('../img/power-lines-in-field-on-sunrise-background1.png');
}

#pImgpri{
    width: 576px;
    height: 174px;
    margin-top: 46px;
    margin-left: 95px;
    font-family: 'exo_2black';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

#button{
    flex-direction: row;
    padding: 10px 15px;
    width: 144px;
    height: 34px;
    right: 1206px;
    margin-top: 124px;
    margin-left: 95px;
    border: none;
    background: #DFDD26;
    border-radius: 30px;
    float: left;
    text-align: left;
}

.fiquePorDentro{   
    height: 40px;
    margin-top: 66px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}

.FPD{
    width: 242.18px;
    height: 339.4px;
    margin-left: 95px;
    margin-top: 185px;
    background: #DFDD26;
    border-radius: 30px;
}

.pFPD{
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    color: #000000;
    width: 200px;
    text-align: left;
    margin-left: 20px;
    margin-top: 25px;
}
.imgsec{
  
    width: 100%;
    margin-top: 105px;
    opacity: 100%;
    background-size: cover;
    background-image: url('../img/power-lines-in-field-on-sunrise-background3.png');
    }
.imgLaranja{
    background-size: cover;
    background-image: url('../img/display-laranja1.png');
    width: 1350px;
    height: 300px;
    left: -5px;
    top: 1275px;


}
.aconel{
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
    margin-top: 145px;
    margin-left: 81px;
}

.imgter{
    width: 100%;
    margin-top: 105px;
    opacity: 100%;
    background-size: cover;
    background-image: url('../img/hands-joined-by-the-team1.png');
    }
.imgverde{
    background-size: cover;
    background-image: url('../img/display-verde1.png');
    width: 1350px;
    height: 300px;
    left: -5px;
    top: 1275px;


}
.final{
    background-color: #2093D6;
    width: 1460px;
height: 482px;
left: 1px;
top: 2771px;

}
.cor-final{
    background-color: #2093D6;
    margin-top: 92px;
}







/* 
NOSSA POLÍTICA */


.NPimg{
    width: 100%;
    height: 285px;
    opacity: 100%;
    background-image: url('../img/hands-joined-by-the-team1.png');
    }

    #p_NPimg{
        width: 615px;
        height: 174px;
        margin-top: 86px;
        margin-left: 80px;
        font-family: 'exo_2black';
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: #00578A;
    }


.NPimg2{
    width: 1195px;
    height: 386px;
    margin-top: 112px;
    margin-left: 80px;
}
.NPbarra{
    width: 1200px;
    height: 177px;
    margin-top: 80px;
    margin-left: 80px;
    background: #00578A;
    border-radius: 50px 0px;
}

.NPspan1{
    width: 211px;
    height: 51px;
    display: inline-block;
    background: #DFDD26;
    border-radius: 50px 0px;
}
#NPspan1{

    display: inline-block;
    margin-left: 22px;
    margin-top: 12px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #000000;

}
.NPspan2{
    width: 821px;
    height: 51px;
    display: inline-block;
    background: #DFDD26;
    border-radius: 50px 0px;
}
#NPspan2{

    display: inline-block;
    margin-left: 22px;
    margin-top: 12px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #000000;

}
.NPp1{
   
    margin-left: 22px;
    margin-top: 12px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
}

/* O QUE FAZEMOS */

.OQFimg{
    width: 100%;
    height: 386px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 105px;
    opacity: 100%;
    background-image: url('../img/SITE1280X3861.png');
    }
.OQFbloco{
    width: 1225px;
    height: 1488px;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 105px;
    background: #00578A;
    border-radius: 30px;
}
#OQFtexto{
    width: 1000px;
    height: 120px;
    margin-left: 100px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;

}
#OQFtexto2{
    width: 1156px;
    height: 904px;
    margin-left: 62px;
    font-family: 'robotoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;

}
#OQFspan{
   
    display: inline-block;
    margin-left: 100px;
    margin-top: 60px;
    font-family: 'exo_2light';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 86px;
    color: #FFFFFF;
}
#OQFspan3{
    display: inline-block;
    margin-left: 100px;
    font-family: 'exo_2light';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 86px;
    color: #FFFFFF;
}
#OQFspan2{
   
    display: inline-block;
    margin-left: 100px;
    margin-top: 60px;
    font-family: 'exo_2light';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 86px;
    color: #FFFFFF;
}
.imgrover{
    width: 244px;
}
.imgrover:hover{
    width: 260px;
}







}