<<<<<<< HEAD
/*@media only screen and (min-width: 768px) {*/
*{margin: 0;}
    
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  
  
    .row-1 {width: 100%; display: flex;flex-direction: row;}/*
    .row-2 {height: 20%;width: 100%; display: flex;flex-direction: row;}
    .row-3 {height: 30%;width: 100%; display: flex;flex-direction: row;}
    .row-4 {height: 40%;width: 100%; display: flex;flex-direction: row;}
    .row-5 {height: 50%;width: 100%; display: flex;flex-direction: row;}
    .row-6 {height: 60%;width: 100%; display: flex;flex-direction: row;}
    .row-7 {height: 70%;width: 100%; display: flex;flex-direction: row;}
    .row-8 {height: 80%;width: 100%; display: flex;flex-direction: row;}
    .row-9 {height: 90%;width: 100%; display: flex;flex-direction: row;}
    .row-10{height:100%; width: 100%; display: flex;flex-direction: row;}*/
  



    body{
        margin: 0;
       
       /* background-image: url(../img/stars-1246590_1920.jpg);*/
        background-color: rgb(255, 255, 255);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        
    }
    .principal{
                                                                                
        width: 1343px;
        height: 969px;
        background-color:white ;
        margin: 0 auto;
    }
    .barraSuperior{
        width: 1440px;
        height: 133px;
        background-color: #2093D6 ;
        margin: 0 auto;  
    }
    .barra01{
        width: 1460px;
        height: 57px;
        background-color: #00578A ;
        margin: 0 auto;  
    }
    .secundaria{
        width: 1343px;
        height: 969px;
        background-color:whitesmoke ;
        margin: 0 auto;
    }



/*logo da empresa*/

    .imglogo{
    
        width: 69px;
        height: 109px;
    
         
    }





    /*imagem superior da pagina inicial*/
    
    
    .imgPowerLines{
        width: 1460px;
        height: 457px;
    }




   .texto01{
   
    position: absolute;
    width: 576px;
    height: 174px;
    left: 90px;
    top: 236px;

    font-family: 'exo_2black';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;

    color: #FFFFFF;
 }
 .imgPowerLinesButton{
    flex-direction: row;
    /* align-items: center; */
    padding: 10px 15px;
    position: absolute;
    width: 144px;
    height: 34px;
    right: 1206px;
    top: 534px;
    border: none;
    background: #DFDD26;
    border-radius: 30px;
    float: left;
    text-align: left;

}
.button{
  

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #000000;
}












 @font-face {
    font-family: 'exo_2black';
    src: url('../fontes/exo2-black-webfont.woff2') format('woff2'),
         url('../fontes/exo2-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

 }




 @font-face {
    font-family: 'exo_2light';
    src: url('../fontes/exo2-light-webfont.woff2') format('woff2'),
         url('../fontes/exo2-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

 }
/*}*/
=======
>>>>>>> ecf44ae1c709ca68d510d5d7594080774263a9a3
